@media (max-width: 1920px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr); /* 3열로 변경 */
    }
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr); /* 3열로 변경 */
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2열로 변경 */
    }

    nav {
        text-align: center; /* 가운데 정렬 */
    }

    nav ul {
        flex-direction: column; /* 세로로 나열 */
    }

    nav ul li {
        margin: 10px 0; /* 항목 간의 세로 여백 */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1열로 변경 */
    }
    .item1,
    .item2,
    .item3,
    .item4 {
        grid-column: span 1; /* 1열에서 1개로 수정 */
    }
}


/*홈 반응형*/


@media screen and (min-width: 1921px) {
    #home {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1920px) {
    #home {
        transform: scale(1);
    }
}

@media screen and (max-width: 1600px) {
    #home {
        transform: scale(1);
    }
}

@media screen and (max-width: 1440px) {
    #home {
        transform: scale(1);
    }
}

@media screen and (max-width: 1280px) {
    #home {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    #home {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    #home {
        transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    #home {
        transform: scale(1);
    }
}